@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;400;500;700&family=Poppins:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply h-screen bg-fixed bg-gray-50;
  }

  body {
    @apply font-body antialiased leading-7 tracking-wide text-[18px] text-black;

    #__nuxt {
      @apply min-h-screen grid grid-cols-content;
    }
  }

  :is(h1, h2, h3, h4, h5, h6) {
    @apply font-head font-bold leading-snug text-mirage-900;
  }

  h1 {
    @apply text-3xl lg:text-4xl xl:text-5xl;
  }

  h2 {
    @apply text-2xl lg:text-3xl xl:text-4xl;
    #blogPage &,
    #contentPage & {
      @apply mb-4;
    }
  }

  h3 {
    @apply text-3xl;
    #blogPage &,
    #contentPage & {
      @apply mb-4;
    }
  }

  h4 {
    @apply text-xl sm:text-2xl;
    #blogPage &,
    #contentPage & {
      @apply mb-4;
    }
  }

  h5 {
    @apply text-xl;
    #blogPage &,
    #contentPage & {
      @apply mb-4;
    }
  }

  h6 {
    @apply text-lg;
    #blogPage &,
    #contentPage & {
      @apply mb-4;
    }
  }

  p {
    #blogPage &,
    #contentPage & {
      @apply mb-4 text-lg tracking-normal leading-relaxed;
    }
    footer & {
      @apply text-gray-600 text-md leading-normal;
    }
  }

  ul:not(.clearList) {
    #blogPage &,
    #contentPage & {
      @apply pl-8 mb-4 text-lg tracking-normal leading-relaxed;
      li {
        @apply before:leading-none before:content-['▸'] before:text-purple-300 before:text-2xl before:absolute before:pr-2 before:-translate-x-6;
      }
    }
  }

  ol:not(.clearList) {
    #blogPage &,
    #contentPage & {
      @apply pl-8 mb-4 text-lg tracking-normal leading-relaxed list-decimal;
    }
  }

  img {
    #blogPage &,
    #contentPage & {
      @apply rounded-lg shadow-lg shadow-gray-700/5 mb-8;
    }
  }

  blockquote {
    @apply my-8 border-l-4 border-purple-400 py-8 pl-16 relative text-mirage-900 text-lg sm:text-2xl leading-8 sm:leading-10 font-head font-bold before:content-['”'] before:bg-purple-400 before:rounded-full before:w-10 before:h-10 before:top-1/2 before:-translate-y-1/2 before:text-white before:flex before:justify-center before:text-5xl before:absolute before:-left-[22px] before:leading-[1.15];
    cite {
      @apply block text-base font-normal text-gray-600 mt-2;
    }
  }

  details {
    @apply mt-5 p-4 bg-mirage-400/5 rounded-xl;
    summary {
      @apply flex justify-between gap-4 items-center cursor-pointer hover:text-purple-500 list-none font-head font-bold text-mirage-900 after:text-purple-200 text-xl after:content-['▾'] after:text-3xl after:leading-6;
      &::-webkit-details-marker {
        @apply hidden;
      }
    }

    &[open] summary {
      @apply mb-4 after:content-['▴'];
    }
  }

  a {
    @apply text-purple-600 font-normal underline decoration-solid hover:text-purple-900 transition-all duration-100;

    .mobileNav & {
      @apply text-xl;
    }

    header & {
      @apply text-mirage-900 font-head font-bold tracking-tight no-underline hover:text-purple-600;
    }

    footer & {
      @apply text-gray-500 no-underline hover:text-gray-300;
    }

    &.router-link-active {
      @apply text-purple-400;
    }
  }

  .bg-mirage-950 .formkit-input {
    @apply bg-white focus:bg-purple-50;
  }

  [data-invalid='true'] .formkit-input {
    @apply border-red-400;
  }

  .formkit-form > .formkit-messages {
    @apply hidden;
  }

  table {
    @apply w-full text-base rounded-lg overflow-hidden shadow-[inset_0_0_0_1px_rgba(246,246,247,1)];
    thead {
      @apply bg-mirage-50;
      tr {
        @apply border-t-0;
      }
      th {
        @apply text-left font-medium;
      }
    }
    tr {
      @apply cursor-pointer border-t border-mirage-50 even:bg-mirage-50/20 hover:bg-purple-50/25 transition-all duration-100;
    }
    th {
      @apply py-3 px-5;
    }
    td {
      @apply p-5;
    }
  }

  .page-enter-active,
  .page-leave-active {
    @apply transition-all duration-200;
  }
  .page-enter-from,
  .page-leave-to {
    @apply opacity-0 blur-lg;
  }
}

@layer utilities {
  .grid-cols-content {
    @apply grid;
  }

  .grid-cols-content > *,
  .grid-cols-content > div:not(.breakout) > * {
    grid-column: content;
  }

  .grid-cols-content > .full-width,
  .grid-cols-content > div:not(.breakout) > .full-width {
    grid-column: full-width;
  }

  .grid-cols-content > .breakout,
  .grid-cols-content > div:not(.breakout) > .breakout {
    grid-column: breakout;
  }

  .grid-cols-content > .content-large,
  .grid-cols-content > div:not(.breakout) > .content-large {
    grid-column: content-large;
  }

  .grid-cols-content > div:not(.breakout) {
    @apply grid;
    grid-template-columns:
      [full-width-start] minmax(1rem, 1fr) [breakout-start] minmax(0, 100px) [content-large-start] minmax(
        0px,
        250px
      )
      [content-start] min(100% - ((1rem) * 2), 780px) [content-end] minmax(0px, 250px) [content-large-end] minmax(
        0,
        100px
      )
      [breakout-end] minmax(1rem, 1fr) [full-width-end];
    grid-column: full-width;
  }

  .animatedSwitch {
    background-image: linear-gradient(to left, #8644a9 50%, transparent 50%);
    transition: background-position 1s cubic-bezier(0.19, 1, 0.22, 1), color 0.2s ease;
  }

  .pause {
    animation-play-state: paused;
  }

  .visualText p {
    @apply text-lg text-mirage-700 mb-4;
  }

  .gradientHeading {
    span {
      @apply bg-gradient-to-tr from-purple-300 to-purple-700 bg-clip-text text-transparent;
    }
  }

  .masked {
    mask-image: linear-gradient(transparent, white, white, white, transparent);
    mask-type: luminance;
    mask-mode: alpha;
  }

  .fader {
    mask-image: linear-gradient(transparent, white, white, white, transparent);
    mask-type: luminance;
    mask-mode: alpha;
  }

  .strokeDashedBg {
    stroke-dasharray: 10;
    stroke-width: 5px;
  }

  .grid-area-1 {
    grid-area: 1/1;
  }

  .formkit-form.formkit-horizontal {
    @apply divide-y;
    .formkit-label {
      @apply w-2/12 shrink-0 font-normal text-base mb-0;
    }
    .formkit-outer {
      @apply flex flex-col pt-4 m-0;
    }
    .formkit-inner {
      @apply grow;
    }
    .formkit-wrapper {
      @apply flex items-center gap-4;
    }
    button,
    .formkit-messages,
    .formkit-help {
      margin-left: calc(16.666667% + 1rem);
    }
    .formkit-wrapper button,
    .formkit-wrapper .formkit-messages,
    .formkit-wrapper .formkit-help {
      margin-left: 0;
    }
  }
}
